body{
	background-color: #90E1FF;
	word-wrap: break-word; 
}

img ,object, embed, canvas, video, audio, picture {
    max-width: 100%;
	height: auto;
}

#container{
	font-size: 1.5em;
	background-color: #9024FF;
}

form{
	display: flex;
	font-size: 1.5em;
	margin : 2% 20% 2% 20%;
	display: block;
}

input{
margin-right: 100%;
margin-bottom: 2%;
margin-top: 2%;
}
